<h2>Create a Song</h2>

<%= form_for (@song) do |a| %>
  <%= a.label :title%>
  <%= a.text_field :title %>
  <%= a.label :artist_name %>
  <%= a.text_field :artist_name %>
  <%= a.label :release_year %>
  <%= a.text_field :release_year %>
  <%= a.label :released %>
  <%= a.check_box :released %>
  <%= a.label :genre %>
  <%= a.text_field :genre %>
  <%= a.submit %>
<% end %>
